<div class="pageContent">
    <div class="contactList">
        <div class="sortAndFilter">
            <mat-icon class="searchButton" (click)="toggleSort()">sort_by_alpha</mat-icon>
            <form style="width: 100%;" [formGroup]="filterFormGroup">
                <input class="filterBox" placeholder="Search contacts" (keyup)="submit()" formControlName="filterValue" />
            </form>
        </div>
        <div class="contacts">
            <div *ngIf="contactBehaviourSubject | async as contacts">
                <div *ngFor="let contact of contacts">
                    <div [ngStyle]="{'background-color': contact.selected ? '#82f4fa' : '#cef3f5'}" class="contactBox" (click)="displayDetails(contact)">
                        <span class="dot smallDot" [ngStyle]="{ 'background-color': utilitiesService.generateColourFromName(contact.name, 50) }">{{utilitiesService.getInitials(contact.name)}}</span>
                        <div>
                            <div>{{contact.name}}</div>
                            <div style="margin-left: 8px">{{contact.company.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detailDisplay">
        <div *ngIf="detailsBehaviourSubject | async as contact">
            <div>
                <h2>{{contact.name}}</h2>
                <span class="dot bigDot" [ngStyle]="{ 'background-color': utilitiesService.generateColourFromName(contact.name, 50) }">{{utilitiesService.getInitials(contact.name)}}</span>
                <br />
            </div>
            <div class="detailSections">
                <div style="flex: 1">
                    <h2>General Information</h2>
                    <div>Username: {{contact.username}}</div>
                    <div>Email: {{contact.email}}</div>
                    <div>Phone: {{contact.phone}}</div>
                    <div>Website: {{contact.website}}</div>
                    <br />
                </div>
                <div style="flex: 1">
                    <h2>Address</h2>
                    <div>Home: {{contact.address.suite}} {{contact.address.street}}, {{contact.address.city}}</div>
                    <div>Zipcode: {{contact.address.zipcode}}</div>
                    <div>Latitude: {{contact.address.geo.lat}}</div>
                    <div>Longitude: {{contact.address.geo.lng}}</div>
                    <br />
                </div>
                <div style="flex: 1">
                    <h2>Company</h2>
                    <div>Company Name: {{contact.company.name}}</div>
                    <div>Catchphrase: {{contact.company.catchPhrase}}</div>
                    <div>Business Service: {{contact.company.bs}}</div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>